<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>773211283897-7auib39uobmc9g9qhqp7pto70c0vtgll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773211283897-7auib39uobmc9g9qhqp7pto70c0vtgll</string>
	<key>API_KEY</key>
	<string>AIzaSyDG6JEbENjd9tVFIpSnvS5xnuCD8sjS6lI</string>
	<key>GCM_SENDER_ID</key>
	<string>773211283897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DavidRichardson.Homework-Helper</string>
	<key>PROJECT_ID</key>
	<string>homeworkhelper-75bf8</string>
	<key>STORAGE_BUCKET</key>
	<string>homeworkhelper-75bf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:773211283897:ios:522f299f06dc339a</string>
	<key>DATABASE_URL</key>
	<string>https://homeworkhelper-75bf8.firebaseio.com</string>
</dict>
</plist>